<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table class="table table-striped">
<tr>
	
	<th>Author</th>
	<th>Title</th>
	<th>ISBN</th>
	<th>Year</th>

</tr>
<tr th:each = "book : ${books}">
		
    	<td th:text="${book.author}"></td>
    	<td th:text="${book.title}"></td>
    	<td th:text="${book.isbn}"></td>
    	<td th:text="${book.bookYear}"></td>
    	
    	<td><a href="@{/delete/{id}(id=${book.id})}"> Delete </a> <a href="@{/edit/{id}(id=${book.id})}"> Edit </a></td>
</tr>
</table>
 <a href="/addbook" class="btn btn-primary">Add book</a>

</body>
</html>